/*pagina biografia*/
main {
  .titulobio {
    background-color: $colorprincipal;
    border-radius: 15px;
    text-align: center;
    color: #ffffff;
    width: 16cm;
    margin: 0 auto;
    margin-bottom: 1cm;

  }

  .grido {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto
}

.imagenbio{
  padding: 30px
}

}

.subtitulo1 {
  @include subtitulos(#55acee, $margenclasico);
  padding-left: $relleno;
}
.subtitulo2 {
  @include subtitulos(#007914, $margenclasico);
  padding-left: $relleno;
}
.subtitulo3 {
  @include subtitulos(#c25e30, $margenclasico);
  padding-left: $relleno;
}
