/* vista tableta alta gama */
@media (max-width: 1365px) {
  /*navbar tab*/
  main {
    padding-top: 3cm;
  }
  .enlace {
    background-color: transparent;
    padding-left: 0;
    font-size: 20px;
  }
  nav ul li a {
    font-size: 12px;
    padding: 3px 7px;
  }
  nav ul li {
    display: inline-block;
    line-height: 20px;
    margin: 0 5px;
    margin-top: 38px;
  }
}

.Epi {
  width: 70%;
}

/*vista tableta convencionales*/
@media (max-width: 991px) {
  /*navbar tab*/
  nav {
    .enlace {
      padding-left: 10px;
      font-size: 26px;
    }
    .ul li a {
      font-size: 12px;
    }
    .ul li {
      display: inline-block;
      line-height: 20px;
      margin: 0 5px;
      margin-top: 38px;
    }
  }
  /*index tab*/

  .TextoInicialTitulo11 {
    font-weight: 300;
    font-size: 60px;
  }

  .TextoInicialTitulo22 {
    margin: 0.5 auto;
  }

  .TextoInicialParrafos {
    color: black;
    font-weight: bolder;
    text-align: justify;
    padding: 15px;
  }

  main {
    .textocontacto {
      .textoinicial__titulo1 {
        font-size: 30px;
      }

      .textoinicial__titulo2 {
        font-size: 16px;
      }
    }
  }

  .card {
    margin-top: 1cm;
  }

  /* impacto tab*/
  .d-block {
    margin: 0.5cm auto;
    width: 90%;
    height: 14cm;
  }
  .textoinicial__titulo1 {
    margin: 0.5cm auto;
  }

  .TextoInicialTitulo12 {
    font-size: 30px;
    background-color: $colorprincipal;
    font-weight: bold;
    margin: 1cm auto;
  }
  .text-center {
    margin-left: 0.5cm auto;
  }

  .auto3__imagen {
    width: 70%;
    height: 10cm;
    margin-left: 3cm;
  }
  .Epi {
    font-size: 12px;
    width: 60%;
  }

  .OverlayTitulo {
    font-size: 12px;
    width: 100% !important;
  }
}

/*vista mobile y horizontal*/
@media (max-width: 767px) {
  /*navbar mob*/
  nav {
    position: fixed;
    background-color: #479ead;
    z-index: 3;
    margin-top: 0%;

    .checkbtn {
      display: block;
    }

    .imgbtn {
      height: 80px;
      margin-left: 11cm;
      margin-top: 5px;
    }
    .enlace {
      margin-top: 30px;
      margin-left: 20px;
      font-size: 30px;

      .logo {
        display: none;
      }
    }

    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #487a86;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;

      li {
        display: block;
        margin: 50px 0;
        line-height: 30px;

        a {
          font-size: 20px;
        }
      }
    }

    #check:checked ~ ul {
      left: 0;
    }
  }

  li a:hover,
  li a.active {
    background: none;
    color: rgb(0, 0, 0);
    box-shadow: none;
  }

  footer {
    height: 2cm;

    .Linkb{
      display: none;
    }

    .Copi {
      justify-content: flex-end;
      align-items: flex-end;
      color: rgb(255, 255, 255);
      width: 100%;
      background-color: transparent;
    }
  }

  /*index mob*/
  main {
    .TextoInicialTitulo11 {
      font-weight: bold;
      font-size: 50px;
    }

    .TextoInicialTitulo22 {
      margin-bottom: 0.5cm;
      width: auto;
    }
  }
  .card {
    margin: 0.5cm auto;
    position: unset;
  }

  .Grido {
    display: flex !important;
    flex-direction: column;
  }
  .TextoBio {
    padding-right: 30px;
    padding-left: 30px;
  }

  .ParrafoIndex {
    padding-left: 20px;
    padding-right: 20px;
  }

  /*biografia mob*/

  main {
    .TituloBio{
      margin-top: 1cm;
      width: auto;
    }
    .TextoInicialParrafos {
      padding: 0px;
    }
  }

  /*galeria mob*/

  .OverlayTitulo {
    width: 100%;
    background-color: #09718bb2;
    padding: 5px;
  }
  .row-cols-sm-2 > * {
    width: 100% !important;
    margin: $margenclasico;
    padding: 20px;
  }

  /* contacto mob*/

  .GridContainer > * {
    padding: 10px;
    margin: 0.5cm auto;
  }

  .TextoInicialTitulo1 {
    color: #fff;
    margin-left: 10px;
  }

  .TextoInicialTitulo2 {
    font-size: 16px;
    width: auto;
  }
  .row {
    display: block;
  }

  /* impacto mob*/
  .d-block {
    width: 15cm;
    height: 9cm;
  }
  .element1 {
    .TextoInicialTitulo12 {
      font-size: 24px;
      background-color: $colorprincipal;
      font-weight: bold;
      margin: 0.5cm auto;
      width: auto;
    }
  }
  .text-center {
    margin-left: 0.5cm auto;
  }
  .Epi {
    font-size: 12px;
    margin-left: 1cm;
    width: 90%;
  }
  .Epi3 {
    font-size: 12px;
    width: 75%;
  }

 
}

// galaxy fold y dispositivos extra thin
@media (max-width: 320px) {
  nav {
    .enlace {
      margin-top: 40px;
      margin-left: 5px;
      font-size: 18px;
    }
  }

  main {
    .TituloBio{
      font-size: 20px;
    }

    .Grido {
      .TextoBio {
        padding-left: 15px;
        padding-right: 15px;
        .TextoInicialParrafos {
          line-height: 15px;
          font-weight: lighter;
        }
      }
    }
  }
  .Subtitulo1 {
    font-size: 18px;
    padding-left: 20px;
    text-align: center;
  }
  .Subtitulo2 {
    font-size: 18px;
    padding-left: 20px;
    text-align: center;
  }
  .Subtitulo3 {
    font-size: 18px;
    padding-left: 20px;
    text-align: center;
  }

  .element1 .TextoInicialTitulo12 {
    font-size: 18px;
  }
}
