/*navbar*/
nav {
  background-color: #479ead;
  height: 100px;
  width: 100%;
  box-shadow: 5px 0 10px rgb(51, 51, 51);

  .checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  .enlace {
    position: absolute;
    padding: 5px 50px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 33px;
    color: $colorprincipal;

    .logo {
      height: 95px;
    }
  }
  ul {
    float: right;
    margin-right: 20px;
    li {
      display: inline-block;
      line-height: 80px;
      margin: 0 5px;
      margin-top: 10px;
      a {
        color: rgb(255, 255, 255);
        font-size: 18px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
      }
    }
  }
}

li a.active,
li a:hover {
  background: $colorprincipal;
  transition: 0.5s;
  box-shadow: 0 5px 15px 0px rgba(255, 251, 0, 0.822);
}

#check {
  display: none;
}
